<ng-container>
  <div class="home-content">
    <h1>Dobrodošli</h1>
    <p>
      Dobrodošli na početnu stranicu naše aplikacije za vođenje evidencije o
      bioskopima. Ova aplikacija je dizajnirana da vam pomogne da lako
      upravljate svim aspektima vašeg bioskopa.
    </p>
    <p>
      Na ovoj platformi možete pratiti raspored projekcija, upravljati
      bioskopima, salama i filmovima. Naša misija je da unapredimo iskustvo
      gledanja filmova kroz jednostavno i efikasno upravljanje vašim bioskopom.
    </p>
    <p>
      Pregledajte različite sekcije aplikacije koristeći navigacioni meni sa
      leve strane i istražite sve mogućnosti koje vam nudimo. Ako imate bilo
      kakvih pitanja ili trebate pomoć, posetite sekciju "O nama" ili "Autor" za
      više informacija.
    </p>
    <p>
      Hvala što koristite našu aplikaciju i nadamo se da ćete uživati u njenim
      funkcionalnostima.
    </p>
  </div>
</ng-container>
