<ng-container>
  <div class="about-content">
    <h1>O Nama</h1>
    <p>
      Dobrodošli na našu aplikaciju za vođenje evidencije o bioskopima. Naša
      aplikacija je osmišljena sa ciljem da vam olakša upravljanje bioskopima,
      filmovima i salama. Sa našom aplikacijom, možete jednostavno pratiti i
      organizovati sve aspekte poslovanja vašeg bioskopa. Bez obzira da li ste
      menadžer bioskopa, zaposlenik ili ljubitelj filmova, naša aplikacija će
      vam pomoći da pronađete najnovije informacije o projekcijama, salama i
      filmovima koji su u ponudi.
    </p>
    <p>
      Naša misija je da unapredimo iskustvo gledanja filmova i olakšamo
      upravljanje bioskopima putem modernih tehnologija. Nadamo se da ćete
      uživati koristeći našu aplikaciju.
    </p>
    <h2>Kontakt</h2>
    <p>
      Ako imate bilo kakvih pitanja ili sugestija, slobodno nas kontaktirajte
      putem emaila na: support@bioskopapp.com.
    </p>
  </div>
</ng-container>
