<ng-container>
  <div class="author-content">
    <h1>O Autoru</h1>
    <p>
      Zovem se Lazar Aćimović i student sam fakulteta tehničkih nauka u Novom
      Sadu, na smeru inženjerstvo informacionih sistema. Moj glavni fokus je na
      frontend tehnologijama, sa posebnim akcentom na rad sa React-om.
    </p>
    <p>
      Pored toga, zainteresovan sam za najnovije trendove u svetu web razvoja i
      stalno se trudim da unapredim svoje veštine kroz rad na različitim
      projektima. Verujem da je kontinuirano učenje i prilagođavanje ključ
      uspeha u ovoj brzo rastućoj industriji.
    </p>
    <p>
      Slobodno vreme volim da provodim istražujući nove tehnologije, učestvujući
      u open-source projektima i deljenjem znanja sa zajednicom. Takođe,
      strastveni sam ljubitelj filmova i često posećujem bioskope, što me je i
      motivisalo da razvijem ovu aplikaciju.
    </p>
  </div>
</ng-container>
